.nav-menu {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  justify-content: space-between;
  * { display: inline-block; margin: 0; }
  font-size: 14px;
  padding: 1vw 6.354166666666667vw;
  align-items: center;
  color: rgba(255,255,255,0.9);
  background-color: rgb(60,64,70)
}

.settings-icon {
  height: 2.5vh;
}

.save-button {
  background-color: rgb(37,37,38);
  color: #FFF;
  font-size: 14px;
}

.save-button:disabled {
  color: rgba(255,255,255,0.7)
}

a {
  text-decoration: none;
  color: inherit;
}

.right-nav {
  display: flex;
  align-items: center;
  column-gap: 2vw;
}

#notifications {
  color: #000000;
  height: 2.5vh;
  cursor: pointer;
  position: relative;
}

.notifications-icon-container {
  height: 100%;
}

.notifications-icon {
  height: 100%;
}

.response-button-row {
  display: flex;
  justify-content: space-around;
  width: 150px;
  button {
    max-width: 40%;
    font-size: 12px;
  }
}

.notification {
  position: relative;
  font-size: 14px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

.notification-buttons-container {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  column-gap: 20px;
}

.collab-request {
  row-gap: 10px;
}

.notification-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 10px;
  width: 10px;
  opacity: 0;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.notification.unread {
  background-color: rgba(57,77,109, 0.3);
  animation: read_notification 1s 1s forwards;
  -webkit-animation: read_notification 1s 1s forwards;
}

@keyframes read_notification {
  from { background-color: rgba(57,77,109, 0.3); };
  to { background-color: #FFFFFF; }
}

@-webkit-keyframes read_notification {
  from { background-color: rgba(57,77,109, 0.3); };
  to { background-color: #FFFFFF; }
}

.notification-message {
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 500;
  white-space: nowrap;
}

.notification-message-file-name {
  text-align: center;
  text-overflow: ellipsis;
}

.notification-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.avatar-change-buttons {
  display: flex;
  column-gap: 1vw;
}

.avatar-change {
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  padding: 5%;
  row-gap: 15px;
  top: 20%;
  left: 30%;
  right: 30%;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.3);
  h4 {
    font-weight: 400;
  }
}

#avatarUrlForm, #avatarUrlForm:focus {
  color: #000000;
  border: none;
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.3);
}

.notifications-modal {
  background-color: #F3F6F9;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 30%;
  right: 30%;
  z-index: 1;
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.3);
  max-height: 60%;
}

.notifications-modal-list {
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  border-radius: 10px;
  overflow: auto;
  max-height: 90%;
}

.modal {
  align-items: start;
}

.notification-list {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
  top: 2vw;
  right: 0;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.3);
}

.notification:first-child {
  border-radius: 10px 10px 0 0;
}

.notification:last-child {
  border-bottom: none;
  border-radius: 0 0 10px 10px;
}

#settings-menu {
  background-color: rgb(32,32,32);
  position: fixed;
  align-items: center;
  margin:auto;
  top: 20vh;
  left: 35vw;
  right: 35vw;
  max-width: 30vw;
  display: flex;
  z-index: 2;
  flex-direction: column;
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.3);
}

.settings-menu-item {
  padding: 1vh 0;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.settings-menu-item:hover {
  color: #000;
  background-color: #FFF;
}

.intro-view {
  position: fixed;
  display: flex;
  justify-content: center;
  background: url("code_room_bg.png");
  align-items: center;
  column-gap: 2vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.video-block {
  position: relative;
  width: 45%;
  height: 40vw;
  overflow: hidden;
}

.auth-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  padding-right: 5%;
  justify-content: flex-end;
  cursor: pointer;
  p {
    padding: 0;
    margin: 0;
  }

  a {
    position: absolute;
    opacity: 0;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.auth-link:hover {
  opacity: 1;
  padding-bottom: 5%;
  border: 1px solid #FFF;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 400ms;
  transition: padding-bottom 400ms;
}

.demo-vid {
  object-fit: cover;
  width: 100%;
}

.confirmation-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 20vh;
  left: 35vw;
  right: 35vw;
  height: 10vh;
  z-index: 3;
  row-gap: 2vh;
  padding: 2vh 1vw;
  background-color:rgb(32,32,32);
  color:#FFF;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.confirmation-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.notification-badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.25vw;
  width: 1.25vw;
  font-size: 50%;
  top:0;
  right: -0.5vw;
  background-color: #FF0000;
  color: #FFFFFF;
  border-radius: 50%;
}

.avatar-and-name {
  display: flex;
  column-gap: 1vw;
  align-items: center;
}

.avatar {
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  object-fit: cover;
}

.profiler-results {
  display: none;
}