// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



[data-react-class="app"], [data-react-class="new_password"] {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.login, .sign-up, .password-reset, .new-password {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: url("rtc_bg.png");
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  input[type="text"], input[type="password"], input[type="email"] {
    border-radius: .5vw;
    color: white;
    width: 30vw;
    height: 2vw;
    padding-left: 1%;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
  }
}

.expired-link {
  display: flex;
  height: 100vh;
  background-color: #000000;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 30vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-password-form {
  width: 30vw;
}

.pw-reset-link {
  font-size: 12px;
  margin-left: 2px;
  margin-top: 1vh;
}

.nav-link {
  position: absolute;
  top: 1vw;
  right: 2vw;
  font-size: 1.5vw;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1vw;
  color: white;
  display: inline-block;
  margin-top: 1.5vw;
  margin-bottom: .5vw;
}

.auth-error-text {
  padding-top: 2vw;
  color: #FF0000;
}

.unregistered-email-error {
  color: #FF0000;
  position: absolute;
  display: inline-block;
  top: -50%;
}

.submit-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p { 
    margin: 0;
    font-size: 14px;
   }
}

input[type="submit"], .sign-in-button {
  margin-top: 2vw;
  height: 2vw;
  min-width: 7vw;
  font-size: .75vw;
  border-radius: .5vw;
  color: white;
  background-color: rgba($color: #ffffff, $alpha: 0.3);
  border-color: rgba($color: #000000, $alpha: 0.4);
}