.dash {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  background-color: rgb(60,64,70);
}

.doc-row.editor {
  background-color: rgba(255,255,255,0.5);
  color:#000;
  input[type="checkbox"] {
    outline: 1px solid #000;
  }
}

.revocation-notice {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  color: #FFFFFF;
  padding: 3.854166666666667vw 3.125vw 3.229166666666667vw;
  margin: 10vh 3.229166666666667vw 5vh;
}

.gray-area {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
  position: absolute;
  padding: 5vh 3.125vw 5vh;
  margin: 10vh 3.229166666666667vw 5vh;
  background-color: transparent;
  overflow: auto;
}

.dash-button {
  height: 8vh;
  flex-grow: 1;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  cursor: pointer;
}

.dash-button:disabled {
  cursor: not-allowed;
}

.dash-button.new-doc {
  font-size: 25px;
}

.drop-files-text {
  position: absolute;
  align-self: center;
  text-shadow: 0 0 20px #000;
  color: rgb(60,64,70);
  font-size: 8vw;
  top: 40%;
  margin: 0;
}

#docList {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

#doc-list-header {
  margin-bottom: 0.75vh;
}

#docListBody {
  display: flex;
  flex-direction: column;
  overflow: auto;
  row-gap: 0.75vh;
}

#new-doc-row {
  margin-bottom: 0.75vh;
}

.dash-button-row {
  display: flex;
  justify-content: space-between;
  column-gap: 1.0416666666666665vw;
}

#fileName {
  height: 85%;
  border-radius: 0;
  color: #FFF;
  background-color: rgb(32,32,32);
}

#fileName::placeholder {
  color: rgba(255,255,255,0.7);
  font-size: 13px;
  padding-left: 2%;
}

#fileUpload {
  width: 100%;
  height: 100%;
}

.doc-row {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 5vh;
  color: #FFF;
  font-size: 13px;
  opacity: 0.8;
  background-color: rgb(32,32,32);
  button { 
    background-color: transparent;
    background-color: rgb(56,56,56);
    color: #FFFFFF;
  }
  input[type="checkbox"] {
    position: absolute;
    left: 1.5625vw;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.file-name {
  position: absolute;
  display: flex;
  column-gap: 1vw;
  left: 5.729166666666666vw;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 25%;
  padding: 0;
}

.file-size {
  position: absolute;
  left: 30vw;
}

.file-date {
  position: absolute;
  left: 47vw;
}

.editing-title {
  background-color: #FFFFFF;
  color:#000000;
  border-radius: 0;
  height: 50%;
  padding-left: 1%;
  position: relative;
  left: -1%;
}

.active-editors {
  display: flex;
  align-items: center;
  column-gap: .5vw;
  span { 
    cursor: default; 
    font-size: 15px; 
  }
}

.access-status {
  position: absolute;
  left: 68vw;
}

#collab {
  position: absolute;
  display: flex;
  column-gap: .5vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2vw;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

#collab:hover {
  #closeCollab {
    opacity: 1;
    transition: opacity 200ms;
  }
}

#closeCollab {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.25vw;
  color: #FFF;
  background-color: transparent;
  border: none;
  opacity: 0;
}

.collab-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vw;
  padding: 2vw;
  width: 40%;
  background-color: rgba(32,32,32,0.75);
}

.editor-list {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  max-height: 80%;
  overflow: auto;
  color: #FFF;
}

.editor-search-bar {
  border: none;
  color: #FFF;
  min-width: 80%;
  padding: 5px 2px;
  background-color: rgba(255,255,255,0.2);
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.3);
}

.drop-space {
  flex: 1 1 auto;
  box-shadow: 0 0 10px 5px rgba(0,0,0,.3) inset;
  overflow: hidden;
}

.doc-selector {
  border: none;
  padding: 1%;
  background-color: rgba(255,255,255,0.2);
  color: #FFF;
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.3);
  min-width: 50%;
  option {
    color: #000;
  }

  option:focus {
    color: #FFF;
  }
}

.avatar.doc-status {
  height: 3.5vh;
  width: 3.5vh;
}

.editor-search-bar:focus {
  outline: none;
}

.doc-selector:focus {
  outline: none;
}
.user-search-result {
  display: flex;
  align-items: center;
  column-gap: 1vw;
  color: #FFF;
}

.user-search-results {
  padding-top: 2vh;
  display: flex;
  row-gap: 2vh;
  flex-direction: column;
  width: 80%;
}

.editor-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  flex-grow: 1;
  background-color: rgba(32,32,32,0.75);
}

.doc-row-rightmost {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: .5vw;
  max-width: 13vw;
  position: absolute;
  right: 2vw;
}

.doc-row-button {
  height: 3vh;
  width: 2vw;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 90%;
    width: 90%;
  }
}

.listed-editor {
  display: flex;
  column-gap: 1vw;
  align-items: center;
}

.remove-editor-button {
  height: 40%;
  font-size: 12px;
  background-color: transparent;
  color: #FFF;
  cursor: pointer;
}
