<p>To reset your password click the link below:</p>

<%= link_to 'reset password', update_password_form_url(@user) %>

<p>If you did not request to change your password just ignore this email and your password will stay the same.</p>