.dash {
  padding: 0 2vw;
  height: 100%;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  * { display: inline-block; margin: 0; }
  font-size: 20px;
  padding: 2vw;
  margin: 0 3.229166666666667vw;
}

a {
  text-decoration: none;
  color: inherit;
}

#ace-editor {
  position: absolute;
  top: 7.708333333333334vw;
  left: 4.635416666666667vw;
}

.gray-area {
  padding: 3.854166666666667vw 3.125vw 3.229166666666667vw;
  margin: 4.583333333333333vw 3.229166666666667vw 3.3854166666666665vw;
  background-color: #F3F6F9;
}

.dash-button {
  height: 5.9375vw;
  background-color: #394D6D;
  color: #FFFFFF;
  flex-grow: 1;
}

.dash-button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.406249999999999vw;
  column-gap: 1.0416666666666665vw;
}

#fileUpload {
  width: 100%;
  height: 100%;
}

.doc-row {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 5.104166666666667vw;
  font-size: 15px;
  border: 0.26041666666666663 solid #F3F6F9;
  background-color: #FFFFFF;
  input[type="checkbox"] {
    position: absolute;
    left: 1.5625vw;
  }
}

.file-name {
  position: absolute;
  left: 5.729166666666666vw;
}

.file-size {
  position: absolute;
  left: 31.145833333333332vw;
}

.file-date {
  position: absolute;
  left: 52.03124999999999vw;
}

.file-open-button {
  position: absolute;
  right: 2.3958333333333335vw;
}